@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    
}
body{
    background-color: #a0a09d;
}

.logok{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.sata{
    transition-duration: 2000ms;
    transition-property: color, transform;
    }
    
    .sata:hover{
    color:rgb(255, 255, 255);
    text-shadow:3px 3px 3px darkred;
    transform:rotatey(360deg);
    }


.blocktext{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    text-shadow: rgb(156, 92, 92) 1px 0 10px;
    margin-top: 15px;
    
}
.blocktext .p1{
    padding-top: 25px;
    padding-bottom: 10px;
    border: 1px solid black;
    background-color: #766c7f;
}

.blocktext .p2{
    padding-top: 25px;
    padding-bottom: 10px;
    border: 1px solid black;
    background-color: #766c7f;
}

.blocktext .p3{
    padding-top: 25px;
    padding-bottom: 10px;
    border: 1px solid black;
    background-color: #766c7f;
}


.blockimg{
    display: flex;
    justify-content: center;
}

.inner{
    width: 80%;
    margin: auto;
}
.menu{
    height: 66px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #b96f0e;
    opacity: 0.70;
    border: 2px solid black;
    flex-wrap: wrap;
  
}
.logo{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700    ;
    font-size: 40px;
    letter-spacing: 1.5px;
    color: rgb(8, 8, 8);
    transition-duration: 2000ms;
    transition-property: color, transform;
}

.logo:hover{
    color:rgb(255, 255, 255);
    text-shadow:3px 3px 3px darkred;
    transform:rotatey(360deg);
}
.menu-left{ display: flex;
            justify-content: baseline;
            align-self: center;
            
}

.menu-right{
   float: right;
}

.m-link{
    color: rgb(2, 2, 2);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
    padding: 0px; margin: 0px  10px;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
}
.m-link i{
    margin-right: 4px;
}
.m-link:hover{
    border-color: white;
}



footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
    background-color: #d8dfe6b6;
    width: 100%;
    height:100%;
    
    
}

.rezo{
    margin-left: 35px;
}
